lightning_logs

openai.key*

__pycache__
.Rhistory
.Rapp.history
~$*

.idea/**
Temp/**

cache/**
cache_copy/**
cache_copy*/**

src/LLM_pipeline/baselines/ExplainDaV
src/LLM_pipeline/baselines/ExplainDaV/**

wikidata

data/**
!data/Datasets/
!data/Datasets/**
data/Datasets/PaperExamples


openai.key*
deepseek.key*


__pycache__
~$*

.idea/**

## Windows Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## OSX
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
.apdisk
